body {
    margin: 0;
    padding: 0;
    background-color: #272727;
}

#video-grid {
    display: flex;
    justify-content: center;
}

video {
    /* height: 300px; */
    /* width: 400px; */
    object-fit: cover;
}